@model Mhotivo.Models.ImportDataModel
@{
    ViewBag.Title = "Importar Datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section AddToHead{
    <style type="text/css">
        span.InputLabel {
            width: 567px;
            height: 15px;
            font-size: 10px;
            margin: 0 0 10px 0;
            vertical-align: text-top;
            font-weight: bold;
        }
    </style>
}

@Html.Partial("~/Views/Shared/_MessageArea.cshtml")

<h2>Index</h2>
